# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


src/App.js

src/index.js

src/data/topics.js (or src/data/topics.json if you're using a JSON file)

src/components/Section.js

src/components/TopicModal.js

src/styles/tailwind.css
